body {
    text-decoration: none;
}
.title {
    text-align: center;
    font-family: days -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    margin-top: 5px;
}
.bar {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    height: 70px;
    left: 0px;
    background: #98f3dd;
}
.obj {
    list-style-type: none;
    height: 30px;
}
.photo {
    width: 60px;
    position: absolute;
    top: 0;
}
.logo {
    margin-left: 60px;
   position: absolute; 
   padding: 14px 14px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 15px;
}
.main {
    padding: 10px;
    float: right;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.main:hover {
    text-shadow: 3px 3px 3px rgba(68, 67, 67, 0.822);
}
.about {
    padding: 10px;
    float: right;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.about:hover {
    text-shadow: 3px 3px 3px rgba(68, 67, 67, 0.822);
}
.contact {
    padding: 10px;
    float: right;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.contact:hover {
    text-shadow: 3px 3px 3px rgba(68, 67, 67, 0.822);
}
.font {
    text-align: center;
    font-size: 26px;
    text-decoration: none;
    color: black; 
    background-color: #c4c4c4;
    width: 750px;
    height: 90px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
.font:hover {
    box-shadow: 10px 10px 10px rgba(41, 41, 41, 0.747);
}
.all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.namme {
    text-align: center;
}
.doctor {
    list-style-type: none;
    align-items: center;
}
.choice {
    background-color: #c4c4c4;
    width: 200px;
    height: 250px;
    text-align: center;
    font-size: 23px;
    border-radius: 20px;
}
.choice:hover {
    box-shadow: 10px 10px 10px rgba(44, 44, 44, 0.842);
}
.img1 {
    border-radius: 20px;
}
.docname {
    background-color: #c4c4c4;
    width: 190px;
    height: 50px;
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.parg {
    text-align: center;
    font-size: 25px;
}
.insta {
    width: 100px;
    align-items: center;
    border-radius: 50%;
}
.insta:hover {
    box-shadow: 10px 10px 10px rgba(46, 46, 46, 0.911);
}